{% extends 'base.html' %}
{% block title %}ورود{% endblock %}
{% block content %}
    <!-- User Area -->
    <div class="user-area pt-100 pb-70">
        <div class="container">
            <div class="user-width">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="forget-form">
                            <div class="user-form">
                                <h2>فراموشی رمزعبور</h2>
                                <form action="{% url 'customer:forget_password' %}" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-12 ">
                                            <div class="form-group">
                                                <i class='bx bx-phone-call'></i>
                                                {{ form.username }}
                                            </div>
                                        </div>

                                        <div class="col-lg-12 ">
                                            <button type="submit" class="default-btn btn-bg-three">
                                                بازیابی رمزعبور
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- User Area End -->
{% endblock %}