{% extends 'base.html' %}
{% block title %}قیمت و خرید {{ product.name }}{% endblock %}
{% block content %}
    <!-- Product Details Area -->
    <div class="product-details-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="product-detls-image">
                        <img id="product_image" src="{{ product.images.first.image.url }}" alt="Image"
                             style="min-width: 100%;">
                    </div>
                    <div class="col-lg-12 col-md-12 text-center">
                        <div class="pagination-area product-image-list">
                            {% for image in product.images.all %}
                                <button class="next page-numbers no-border"
                                        onclick="change_product_image('{{ image.image.url }}')">
                                    <img src="{{ image.image.url }}" alt="Image" style="min-width: 100%;">
                                </button>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="product-desc">
                        <h3>{{ product.name }}</h3>
                        <div class="price">
                            <span class="old-price me-3" id="old-price"></span>
                            <span class="new-price" id="price"></span>
                        </div>

                        <div class="product-review">
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star-half'></i>
                            </div>
                            <a href="#" class="rating-count">3 نظر</a>
                        </div>

                        {% if product.color.first %}
                            <div class="product-share">
                                <ul>
                                    <li>
                                        <span>رنگ:</span>
                                    </li>
                                    {% for color in product.color.all %}
                                        {% if product.color.first == color %}
                                            <li>
                                                <button class="color-button-selected"
                                                        onclick="change_color_selected(this, '{{ color.id }}')"
                                                        style="background-color: {{ color.hex_code }}; color: {{ color.hex_code }}">
                                                    .
                                                </button>
                                                {{ color.name }}
                                            </li>
                                        {% else %}
                                            <li>
                                                <button class="color-button"
                                                        onclick="change_color_selected(this, '{{ color.id }}')"
                                                        style="background-color: {{ color.hex_code }}; color: {{ color.hex_code }}">
                                                    .
                                                </button>
                                                {{ color.name }}
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                <input type="hidden" id="selected_color" value="{{ product.color.first.id }}">
                            </div>
                        {% endif %}

                        {% if product.category.is_clothing %}
                            <div class="product-share">
                                <ul>
                                    <li>
                                        <span>سایز:</span>
                                    </li>
                                    {% for size in product.sizes.all %}
                                        {% if product.sizes.first == size %}
                                            <li>
                                                <button class="size-button-selected"
                                                        onclick="size_color_selected(this, '{{ size.size }}', {{ size.price_difference }})"
                                                        style="font-size: inherit">
                                                    {{ size.get_size_display }}
                                                </button>
                                            </li>
                                        {% else %}
                                            <li>
                                                <button class="size-button"
                                                        onclick="size_color_selected(this, '{{ size.size }}', {{ size.price_difference }})"
                                                        style="font-size: inherit">
                                                    {{ size.get_size_display }}
                                                </button>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                <input type="hidden" id="selected_size" value="{{ product.color.first.id }}">
                            </div>
                        {% endif %}

                        <div class="input-count-area">
                            <h3>تعداد</h3>
                            <div class="input-counter">
                                <span class="minus-btn"><i class='bx bx-minus'></i></span>
                                <input type="text" value="1" min="1" max="{{ product.stock }}">
                                <span class="plus-btn"><i class='bx bx-plus'></i></span>
                            </div>
                        </div>

                        <div class="product-add-btn">
                            <button type="submit" class="default-btn btn-bg-three">
                                <i class="fas fa-cart-plus"></i> خرید!
                            </button>
                            <button type="submit" class="default-btn btn-bg-three">
                                <i class="fas fa-cart-plus"></i> افزودن به سبد خرید
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Details Area End -->

    <!-- Product Tab -->
    <div class="product-tab pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="tab products-details-tab">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <ul class="tabs">
                                    <li>
                                        <a href="#">
                                            توضیحات
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            مشخصات
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            نظرات
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="tab_content current active">
                                    <div class="tabs_item current">
                                        <div class="products-tabs-decs">
                                            {% for description_line in product.get_description_lines %}
                                                <p>{{ description_line }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="tabs_item">
                                        <div class="products-tabs-shipping">
                                            <ul>
                                                {% for attribute in product.attribute_values.all %}
                                                    <li>
                                                        {{ attribute.attribute }}:
                                                        <span>{{ attribute.value }}</span>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="tabs_item">
                                        <div class="products-tabs-reviews">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="products-review-tab">
                                                        <ul>
                                                            <li>
                                                                <img src="assets/images/blog/blog-profile1.jpg"
                                                                     alt="Image">
                                                                <h3>مگان فاکس</h3>
                                                                <span><i class='bx bx-calendar-event'></i> آذر 02, 1399,
                                                                    12:10 بعدازظهر </span>
                                                                <p>
                                                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                                                                    صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها
                                                                    و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                                                    لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                                                                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می
                                                                    باشد.
                                                                </p>
                                                                <div class="content">
                                                                    <h4><a href="#"> لایک</a></h4>
                                                                    <h4><a href="#"> پاسخ </a></h4>
                                                                </div>
                                                            </li>

                                                            <li>
                                                                <img src="assets/images/blog/blog-profile2.jpg"
                                                                     alt="Image">
                                                                <h3>مایک توماس</h3>
                                                                <span><i class='bx bx-calendar-event'></i> آذر 02, 1399,
                                                                    11:30 بعدازظهر </span>
                                                                <p>
                                                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                                                                    صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها
                                                                    و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                                                    لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                                                                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می
                                                                    باشد.
                                                                </p>
                                                                <div class="content">
                                                                    <h4><a href="#"> لایک</a></h4>
                                                                    <h4><a href="#"> پاسخ </a></h4>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="reviews-form">
                                                        <div class="contact-form">
                                                            <h3>افزودن نظر</h3>
                                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                                                و با استفاده از طراحان گرافیک است. </p>
                                                            <div class="rating">
                                                                <i class='bx bxs-star'></i>
                                                                <i class='bx bxs-star'></i>
                                                                <i class='bx bxs-star'></i>
                                                                <i class='bx bxs-star'></i>
                                                                <i class='bx bxs-star-half'></i>
                                                            </div>
                                                            <form id="contactForm">
                                                                <div class="row">
                                                                    <div class="col-lg-6 col-sm-6">
                                                                        <div class="form-group">
                                                                            <input type="text" name="name" id="name"
                                                                                   class="form-control" required
                                                                                   data-error="لطفا نام خود را وارد نمایید"
                                                                                   placeholder="نام*">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-lg-6 col-sm-6">
                                                                        <div class="form-group">
                                                                            <input type="email" name="email_address"
                                                                                   id="email_address" required
                                                                                   data-error="Please enter email address"
                                                                                   class="form-control"
                                                                                   placeholder="آدرس ایمیل*">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-lg-12 col-md-12">
                                                                        <div class="form-group">
                                                                            <textarea name="message"
                                                                                      class="form-control" id="message"
                                                                                      cols="30" rows="8" required
                                                                                      data-error="پیام خود را بنویسید"
                                                                                      placeholder="پیام شما"></textarea>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-lg-12 col-md-12">
                                                                        <button type="submit"
                                                                                class="default-btn btn-bg-three">
                                                                            ارسال پیام
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Tab End -->

    <!-- Related Product Area -->
    <div class="related-products-area pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <h2>محصولات مرتبط</h2>
            </div>
            <div class="row pt-45">
                <div class="col-lg-3 col-sm-6">
                    <div class="product-card">
                        <div class="product-card-img">
                            <a href="shop-details.html">
                                <img src="assets/images/products/product-img1.png" alt="تصویر محصول">
                            </a>
                            <div class="product-card-tag">
                                <h3>فروش</h3>
                            </div>
                            <ul class="product-card-action">
                                <li>
                                    <a href="cart.html"><i class='bx bx-cart'></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class='bx bx-heart'></i></a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#productsQuickView">
                                        <i class='bx bx-show-alt'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="content">
                            <h3><a href="shop-details.html">هدفون سنهیزر</a></h3>
                            <span>12000 تومان</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="product-card">
                        <div class="product-card-img">
                            <a href="shop-details.html">
                                <img src="assets/images/products/product-img2.png" alt="تصویر محصول">
                            </a>
                            <div class="product-card-tag">
                                <h3>فروش</h3>
                            </div>
                            <ul class="product-card-action">
                                <li>
                                    <a href="cart.html"><i class='bx bx-cart'></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class='bx bx-heart'></i></a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#productsQuickView">
                                        <i class='bx bx-show-alt'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="content">
                            <h3><a href="shop-details.html">نیکون پی-1000</a></h3>
                            <span>99000 تومان</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="product-card">
                        <div class="product-card-img">
                            <a href="shop-details.html">
                                <img src="assets/images/products/product-img3.png" alt="تصویر محصول">
                            </a>
                            <div class="product-card-tag">
                                <h3>جدید</h3>
                            </div>
                            <ul class="product-card-action">
                                <li>
                                    <a href="cart.html"><i class='bx bx-cart'></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class='bx bx-heart'></i></a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#productsQuickView">
                                        <i class='bx bx-show-alt'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="content">
                            <h3><a href="shop-details.html">گوشی سنهیزر</a></h3>
                            <span>39000 تومان</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="product-card">
                        <div class="product-card-img">
                            <a href="shop-details.html">
                                <img src="assets/images/products/product-img4.png" alt="تصویر محصول">
                            </a>
                            <div class="product-card-tag">
                                <h3>جدید</h3>
                            </div>
                            <ul class="product-card-action">
                                <li>
                                    <a href="cart.html"><i class='bx bx-cart'></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class='bx bx-heart'></i></a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#productsQuickView">
                                        <i class='bx bx-show-alt'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="content">
                            <h3><a href="shop-details.html">ای واچ گالری</a></h3>
                            <span>13000 تومان</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Related Product Area End -->
{% endblock %}
{% block script %}
    <script>
        const product_image = document.getElementById("product_image");
        const price_tag = document.getElementById("price");
        const old_price_tag = document.getElementById("old-price");

        function change_product_image(image_src) {
            product_image.src = image_src;
        }

        function change_color_selected(color_button, color_id) {
            document.querySelectorAll(".color-button-selected").forEach(i => {
                i.className = "color-button";
            });
            color_button.className = "color-button-selected";
            document.getElementById("selected_color").value = color_id;
        }

        {% if product.category.is_clothing %}
            let base_price = {{ product.price }};
            let price = base_price + {{ product.sizes.first.price_difference }};
            let discount = {{ product.discount }};

            function set_price() {
                if (discount === 0) {
                    price_tag.innerHTML = price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + " تومان";
                    old_price_tag.hidden = true;
                } else {
                    price_tag.innerHTML = Math.ceil(price * (1 - discount / 100)).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + " تومان";
                    old_price_tag.innerHTML = price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + " تومان";
                }
            }
            set_price();

            function size_color_selected(size_button, size_id, price_difference) {
                document.querySelectorAll(".size-button-selected").forEach(i => {
                    i.className = "size-button";
                });
                size_button.className = "size-button-selected";
                document.getElementById("selected_size").value = size_id;
                price = base_price;
                price += price_difference;
                set_price()
            }
        {% else %}
            let price = {{ product.price }};
            let discount = {{ product.discount }};

            function set_price() {
                if (discount === 0) {
                    price_tag.innerHTML = price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + " تومان";
                    old_price_tag.hidden = true;
                } else {
                    price_tag.innerHTML = Math.ceil(price * (1 - discount / 100)).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + " تومان";
                    old_price_tag.innerHTML = price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + " تومان";
                }
            }
            set_price();
        {% endif %}
    </script>
{% endblock %}