<li class="nav-item">
<a href="/products/clothing/" class="nav-link">
پوشاک
</a>
</li>
<li class="nav-item">
<a href="/products/phone/" class="nav-link">
گوشی
<i class="bx bx-chevron-down"></i>
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="/products/Samsung/" class="nav-link">
سامسونگ
<i class="bx bx-chevron-down"></i>
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="/products/a/" class="nav-link">
سری A
</a>
</li>
<li class="nav-item">
<a href="/products/s/" class="nav-link">
سری s
</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="/products/Xiaomi/" class="nav-link">
شیامی
</a>
</li>
</ul>
</li>
