<li class="nav-item">
<a href="/products/clothing/" class="nav-link">
پوشاک
<i class="bx bx-chevron-down"></i>
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="/products/Shoes/" class="nav-link">
کفش
</a>
</li>
<li class="nav-item">
<a href="/products/Pants/" class="nav-link">
شلوار
</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="/products/phone/" class="nav-link">
گوشی
<i class="bx bx-chevron-down"></i>
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="/products/Samsung/" class="nav-link">
سامسونگ
<i class="bx bx-chevron-down"></i>
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="/products/Samsung-A/" class="nav-link">
سری A
</a>
</li>
<li class="nav-item">
<a href="/products/Samsung-S/" class="nav-link">
سری s
</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="/products/Xiaomi/" class="nav-link">
شیامی
<i class="bx bx-chevron-down"></i>
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="/products/Xiaomi-Note/" class="nav-link">
سری Note
</a>
</li>
<li class="nav-item">
<a href="/products/Xiaomi-POCO/" class="nav-link">
سری POCO
</a>
</li>
</ul>
</li>
</ul>
</li>
<li class="nav-item">
<a href="/products/Entertainment/" class="nav-link">
سرگرمی و اوقات فراغت
<i class="bx bx-chevron-down"></i>
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="/products/Toy/" class="nav-link">
اسباب بازی
</a>
</li>
<li class="nav-item">
<a href="/products/Sismuni/" class="nav-link">
اسباب بازی و سیسمونی نوزاد
</a>
</li>
</ul>
</li>
<li class="nav-item">
<a href="/products/food-beverage/" class="nav-link">
کالای خوراکی
<i class="bx bx-chevron-down"></i>
</a>
<ul class="dropdown-menu">
<li class="nav-item">
<a href="/products/Drink/" class="nav-link">
نوشیدنی
</a>
</li>
</ul>
</li>
