{% extends 'base.html' %}
{% load humanize %}
{% block title %}
    {% if category_ancestors.first.name %}
        {{ category_ancestors.first.name }}
    {% else %}
        محصولات
    {% endif %}
{% endblock %}
{% block content %}
    <!-- Product Area -->
    <div class="product-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="product-side-bar">
                        <div class="product-side-bar-widget">
                            {% if category.parent %}
                                <h3 class="title"><a href="{% url 'product:products_category' category.parent.slug %}"
                                                     class="link-dark link-dark-hover">{{ category.parent }}</a></h3>
                            {% else %}
                                {% if category %}
                                    <h3 class="title"><a href="{% url 'product:products' %}"
                                                         class="link-dark link-dark-hover">همه دسته بندی ها</a></h3>
                                {% else %}
                                    <h3 class="title">همه دسته بندی ها</h3>
                                {% endif %}
                            {% endif %}
                            <div class="product-side-categories">
                                <ul>
                                    {% for sibling in category_siblings %}
                                        {% if sibling == category %}
                                            <li class="active">
                                                <a href="{% url 'product:products_category' sibling.slug %}">{{ sibling.name }}</a>
                                            </li>
                                        {% else %}
                                            <li class="">
                                                <a href="{% url 'product:products_category' sibling.slug %}">{{ sibling.name }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        {% if category_children %}
                            <div class="product-side-bar-widget">
                                <h3 class="title">{{ category.name }}</h3>
                                <div class="product-side-categories">
                                    <ul>
                                        {% for child in category_children %}
                                            <li class="">
                                                <a href="{% url 'product:products_category' child.slug %}">{{ child.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}

                        <div class="product-side-bar-widget">
                            <h3 class="title">قیمت </h3>
                            <div class="product-side-categories">
                                <ul>
                                    <li class="active">
                                        <a href="#">0 تومان - 50 تومان </a>
                                    </li>
                                    <li>
                                        <a href="#">51 تومان - 100 تومان </a>
                                    </li>
                                    <li>
                                        <a href="#">101 تومان - 150 تومان </a>
                                    </li>
                                    <li>
                                        <a href="#">151 تومان - 200 تومان </a>
                                    </li>
                                    <li>
                                        <a href="#">200 تومان - 250 تومان </a>
                                    </li>
                                    <li>
                                        <a href="#">250 تومان - 300 تومان </a>
                                    </li>
                                    <li>
                                        <a href="#">350 تومان - 400 تومان </a>
                                    </li>
                                    <li>
                                        <a href="#">400 تومان - 450 تومان </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="product-side-bar-widget">
                            <h3 class="title">بهترین فروشنده</h3>
                            <div class="product-popular-post">
                                <article class="item">
                                    <a href="news-details.html" class="thumb">
                                        <span class="full-image cover bg1" role="img"></span>
                                    </a>
                                    <div class="info">
                                        <h4 class="title-text">
                                            <a href="news-details.html">
                                                پیاز محلی
                                            </a>
                                        </h4>
                                        <p>20 تومان
                                            <del>215 تومان</del>
                                        </p>
                                    </div>
                                </article>

                                <article class="item">
                                    <a href="news-details.html" class="thumb">
                                        <span class="full-image cover bg2" role="img"></span>
                                    </a>
                                    <div class="info">
                                        <h4 class="title-text">
                                            <a href="news-details.html">
                                                نمک دریا
                                            </a>
                                        </h4>
                                        <p>50 تومان
                                            <del>10 تومان</del>
                                        </p>
                                    </div>
                                </article>

                                <article class="item">
                                    <a href="news-details.html" class="thumb">
                                        <span class="full-image cover bg3" role="img"></span>
                                    </a>
                                    <div class="info">
                                        <h4 class="title-text">
                                            <a href="news-details.html">
                                                تخم مرغ تازه
                                            </a>
                                        </h4>
                                        <p>10 تومان
                                            <del>12 تومان</del>
                                        </p>
                                    </div>
                                </article>
                            </div>
                        </div>

                        <div class="product-side-bar-widget">
                            <h3 class="title">برچسب‌ها</h3>
                            <ul class="product-widget-tag">
                                <li><a href="#">غذای ساده</a></li>
                                <li><a href="#">خام</a></li>
                                <li><a href="#">تازه</a></li>
                                <li><a href="#">رتبه</a></li>
                                <li><a href="#">قیمت</a></li>
                                <li><a href="#">خواربار</a></li>
                                <li><a href="#">دسته‌بندی</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9">
                    <div class="product-topper">
                        <div class="row">
                            <div class="col-lg-10">
                                <div class="product-topper-title">
                                    {% if category_ancestors %}
                                        {% if request.GET.q %}
                                            <h3>جست و جوی "{{ request.GET.q }}" در <a
                                                    href="{% url 'product:products' %}"
                                                    class="link-dark link-dark-hover">محصولات
                                                ></a>
                                                {% for ancestor in category_ancestors %}
                                                    <a href="{% url 'product:products_category' ancestor.slug %}"
                                                       class="link-dark link-dark-hover">{{ ancestor.name }} ></a>
                                                {% endfor %}
                                            </h3>
                                        {% else %}
                                            <h3>مشاهده <a href="{% url 'product:products' %}"
                                                          class="link-dark link-dark-hover">محصولات ></a>
                                                {% for ancestor in category_ancestors %}
                                                    <a href="{% url 'product:products_category' ancestor.slug %}"
                                                       class="link-dark link-dark-hover">{{ ancestor.name }} ></a>
                                                {% endfor %}
                                            </h3>
                                        {% endif %}
                                    {% else %}
                                        {% if request.GET.q %}
                                            <h3>جست و جوی "{{ request.GET.q }}" در همه دسته بندی ها</h3>
                                        {% else %}
                                            <h3>مشاهده همه دسته بندی ها</h3>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>


                            <div class="col-lg-12">
                                <form method="GET" class="row" id="filter_form">
                                    <div class="product-category col-lg-4 mb-3">
                                        <div class="form-group">
                                            <select name="sort_by" class="form-control">
                                                <option id="newest" value="newest">جدیدترین</option>
                                                <option id="cheapest" value="cheapest">ارزان ترین</option>
                                                <option id="most_expensive" value="most_expensive">گران ترین</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 form-condition mb-3">
                                        <div class="agree-label">
                                            <input name="q" type="hidden" id="q_filter">
                                            <input name="in_stock" type="checkbox" id="in_stock">
                                            <label for="in_stock">
                                                فقط کالاهای موجود
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 mb-3">
                                        <button type="button" onclick="set_filter_by_search_query()"
                                                class="default-btn btn-bg-three"
                                                style="border: none">
                                            اعمال فیلتر
                                        </button>
                                    </div>
                                </form>
                            </div>

                            <div class="row">
                                {% for product in page_obj %}
                                    {% if product.is_in_stock %}
                                        {% if product.discount %}
                                            <div class="col-lg-4 col-sm-6">
                                                <div class="product-card">
                                                    <div class="product-card-img">
                                                        <a href="{% url "product:product_details" product.category.slug product.slug %}">
                                                            <img src="{{ product.images.first.image.url }}"
                                                                 alt="تصویر {{ product.name }}" style="min-width: 100%;">
                                                        </a>
                                                        <div class="product-card-tag">
                                                            <h3>{{ product.discount }}%-</h3>
                                                        </div>
                                                    </div>

                                                    <div class="content">
                                                        <h3>
                                                            <a href="{% url "product:product_details" product.category.slug product.slug %}">{{ product.name }}</a>
                                                        </h3>
                                                        <span>
                                                                <del style="margin-left: 30px">{{ product.price|intcomma }}</del>
                                                                {{ product.get_discounted_price|floatformat:0|intcomma }} تومان
                                                            </span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="col-lg-4 col-sm-6">
                                                <div class="product-card">
                                                    <div class="product-card-img">
                                                        <a href="{% url "product:product_details" product.category.slug product.slug %}">
                                                            <img src="{{ product.images.first.image.url }}"
                                                                 alt="تصویر {{ product.name }}" style="min-width: 100%;">
                                                        </a>
                                                    </div>

                                                    <div class="content">
                                                        <h3>
                                                            <a href="{% url "product:product_details" product.category.slug product.slug %}">{{ product.name }}</a>
                                                        </h3>
                                                        <span>{{ product.price|intcomma }} تومان</span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="product-card">
                                                <div class="product-card-img">
                                                    <a href="{% url "product:product_details" product.category.slug product.slug %}">
                                                        <img class="black-white-image" src="{{ product.images.first.image.url }}"
                                                             alt="تصویر {{ product.name }}" style="min-width: 100%;">
                                                    </a>
                                                    <div class="product-card-tag">
                                                        <h3>ناموجود</h3>
                                                    </div>
                                                </div>

                                                <div class="content">
                                                    <h3>
                                                        <a href="{% url "product:product_details" product.category.slug product.slug %}">{{ product.name }}</a>
                                                    </h3>
                                                    <span><del>{{ product.price|intcomma }}</del></span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                                <div class="col-lg-12 col-md-12 text-center">
                                    <div class="pagination-area">
                                        {% if page_obj.has_previous %}
                                            <button onclick="get_page_number_url('{{ page_obj.previous_page_number }}')"
                                                    class="next page-numbers no-border">
                                                <i class="bx bx-chevron-right"></i>
                                            </button>
                                        {% endif %}

                                        {% for page_number in page_obj.paginator.page_range %}
                                            {% if page_obj.number == page_number %}
                                                <span class="page-numbers current"
                                                      aria-current="page">{{ page_number }}</span>
                                            {% else %}
                                                <button onclick="get_page_number_url('{{ page_number }}')"
                                                        class="next page-numbers no-border">{{ page_number }}</button>
                                            {% endif %}
                                        {% endfor %}

                                        {% if page_obj.has_next %}
                                            <button onclick="get_page_number_url('{{ page_obj.next_page_number }}')"
                                                    class="next page-numbers no-border">
                                                <i class="bx bx-chevron-left"></i>
                                            </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Area End -->
{% endblock %}
{% block script %}
    <script>
        function get_page_number_url(page_number) {
            const params = new URLSearchParams(window.location.search);
            params.set('page', page_number);
            window.location.href = `${window.location.pathname}?${params.toString()}`;
        }

        function set_filter_by_search_query() {
            const search_query = new URLSearchParams(window.location.search).get("q");
            if (search_query)
                document.getElementById("q_filter").value = search_query;
            else
                document.getElementById("q_filter").remove()
            HTMLFormElement.prototype.submit.call(document.getElementById("filter_form"));
        }

        window.onload = function () {
            const params = new URLSearchParams(window.location.search);
            const sort_by_value = params.get("sort_by");
            if (sort_by_value) {
                const select_sort_by = document.getElementById(sort_by_value);

                select_sort_by.setAttribute("selected", "1");
                document.getElementsByClassName("current")[0].innerHTML = select_sort_by.innerHTML;

                document.querySelectorAll(".option").forEach(sort_by_Key => {
                    sort_by_Key.className = "option"
                    if (sort_by_Key.getAttribute("data-value") === sort_by_value)
                        sort_by_Key.className = "option selected focus";
                });
            }


            if (params.get("in_stock")) {
                document.getElementById("in_stock").checked = true;
            }
        };
    </script>
{% endblock %}