{% load static %}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.rtl.min.css' %}">
<!-- Animate Min CSS -->
<link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
<!-- Flaticon CSS -->
<link rel="stylesheet" href="{% static 'assets/fonts/flaticon.css' %}">
<!-- Boxicons CSS -->
<link rel="stylesheet" href="{% static 'assets/css/boxicons.min.css' %}">
<!-- Magnific Popup CSS -->
<link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
<!-- Owl Carousel Min CSS -->
<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}">
<!-- Nice Select Min CSS -->
<link rel="stylesheet" href="{% static 'assets/css/nice-select.min.css' %}">
<!-- Meanmenu CSS -->
<link rel="stylesheet" href="{% static 'assets/css/meanmenu.css' %}">
<!-- Style CSS -->
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<!-- Responsive CSS -->
<link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
<!-- RTL CSS -->
<link rel="stylesheet" href="{% static 'assets/css/rtl.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/theme-dark.css' %}">
<style>
    .message-box {
        bottom: -100px;
        opacity: 0;
        z-index: 2;
        position: fixed;
        transition: bottom 0.4s ease, opacity 0.5s ease;
        right: 20px;
        box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.15);
        padding: 10px 25px 10px 30px;
        color: #fff;
        display: inline-flex;
        align-items: center;
        white-space: nowrap;
    }

    .message-box:hover {
        cursor: pointer;
        box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
    }

    .message-box.show {
        bottom: 20px;
        opacity: 1;
    }

    .btn-bg-four {
        background-color: #098113
    }

    .address-select {
        margin: 0px 0 20px 0;
    }
</style>